# Environment variables and secrets
.env
.env.*
!.env.example

# Project Environments
.venv/
venv/
node_modules/

# SQLite database files
*.sqlite
*.sqlite3
*.db

# SQLite temporary/journal files
*.sqlite-journal
*.sqlite3-journal
*.db-journal
*.db-wal
*.db-shm

# Special Directories
tmp/
todo/
storage/